<h1>Edit a Reward</h1>

  <%= form_for (@reward) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :point_value %><br>
    <%= f.text_field :point_value %>

    <%= f.submit "Update Reward" %>
  <% end %>